
<%= simple_form_for(@farm) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="pb-5">
    <h2>Informations générales :</h2>
  
    <div class="row">
      <div class="col-md-6 inputs-group">
        <%= f.input :name, label: "Nom" %>
        <%= f.input :description, label: "Description de la ferme" %>
        <%= f.input :phone, label: "Numéro de téléphone" %>
        <%= f.input :email, label: "Adresse mail de contact" %>
      </div>
      <div class="col-md-6 form-inputs">
        <%= f.input :address, label: "Adresse" %>
        <%= f.input :zipcode, label: "Code postal" %>
        <%= f.input :city, label: "Ville" %>
      </div>
    </div>
  </div>

  <div class="pb-5">
    <h2>Informations pratiques :</h2>
  
    <div class="row">
      <div class="col-md-6 form-inputs">
        <%= f.input :hours, label: "Heures de disponibilité" %>
      </div>
        <div class="col-md-6 form-inputs"><%= f.input :payment, label: "Moyens de paiements acceptés" %></div>
    </div>
  </div>
  
    <div class="form-actions">
      <%= f.button :submit, value: "Valider les informations" %>
    </div>
<% end %>
