<div class="row">
  <% @farms.each do |farm| %>
    <div class="col-md-4 mb-4">
      <div class="card border-0 border-primary farm-card">
        <%= image_tag ("placeholder-farm.jpg"), class: "card-img-top", alt: "" %>
        <div class="card-body">
          <h4 class="card-title h5"><%= farm.name %></h4>
          <p class="card-text"><%= farm.description %></p>
          <%= link_to 'Passer commande', farm, class: 'btn btn-primary stretched-link mb-5'%>
          <div class="text-right align-text-bottom">
            <p><%= farm.city %>
            <%= image_tag ("location.png"), alt: "", style: "width: 20px" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
