<p id="notice"><%= notice %></p>

<section>
  <h1>Mes fermes</h1>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Zipcode</th>
        <th scope="col">City</th>
        <th scope="col">Hours</th>
        <th scope="col">Payment</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
  
    <tbody>
      <% @farms.each do |farm| %>
        <% if (farm.user_id == current_user.id) %>
        <tr>
          <td><%= farm.user_id %></td>
          <td><%= farm.name %></td>
          <td><%= farm.address %></td>
          <td><%= farm.zipcode %></td>
          <td><%= farm.city %></td>
          <td><%= farm.hours %></td>
          <td><%= farm.payment %></td>
          <td><%= farm.phone %></td>
          <td><%= farm.email %></td>
          <td><%= farm.description %></td>
          <td><%= link_to 'Show', farm %></td>
          <td><%= link_to 'Edit', edit_farm_path(farm) %></td>
          <td><%= link_to 'Destroy', farm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>

<br>

<%= link_to 'New Farm', new_farm_path %>
