<h1><%= @farm %></h1>

<p>
  <strong>Address:</strong>
  <%= @farm.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @farm.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @farm.city %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @farm.hours %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @farm.payment %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @farm.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @farm.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @farm.description %>
</p>

<% @farm.products.each do |product| %>
  <li><%= product %></li>
<% end %>

<% if user_signed_in? && current_user == @farm.user %>

  <%= link_to 'Modifier ma ferme', edit_farm_path(@farm), class: 'btn btn-primary' %> 
  <%= link_to 'Voir et modifier mes produits', farm_products_path(@farm), class: 'btn btn-primary' %>
  <%= link_to 'Voir les commandes passés à ma ferme', farm_orders_path(@farm), class: 'btn btn-primary' %>

<% elsif user_signed_in?  %>
  <%= link_to 'Voir mes commandes ', farm_orders_path(@farm),class: 'btn btn-primary' %>

<% else %>

  <%= link_to 'Passer une commande', farm_products_path(@farm), class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back', farms_path %>
 