<%= content_for :title, 'Favorisons les circuits courts' %>

<div class="container">
  
     <h1 class="h3 py-3"><%= @farm %></h1>
    
    <p>
      <%= @farm.description %>
    </p>


    <div class="d-flex justify-content-start">
    <%= image_tag ("clock.svg"), width: 20 %>
    <h3 class="h4 p-3">Horaires</h3>
    </div>
     <p>
      <%= @farm.hours %>
    </p>

     <div class="d-flex justify-content-start">
    <%= image_tag ("adresse.svg"), width: 20 %>
    <h3 class="h4 p-3">Adresse</h3>
    </div>
      <p>
        <%= @farm.address %>
      </p>
      <p>
        <%= @farm.city %>
      </p>
       <p>
        <%= @farm.zipcode %>
      </p>

    <div class="d-flex justify-content-start">
    <%= image_tag ("clock.svg"), width: 20 %>
    <h3 class="h4 p-3">Téléphone</h3>
    </div>

     <p>
      <%= @farm.phone %>
    </p>
      
   
    
    <p class="py-3">
    <strong>Accepte le paiement</strong>
    <%= @farm.payment %>
    </p>
</div>

<h1 class="text-center"><%= @farm %></h1>









<p>
  <strong>Phone:</strong>
  <%= @farm.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @farm.email %>
</p>



<% @farm.products.each do |product| %>
  <li><%= product %></li>
<% end %>

<% if user_signed_in? && current_user == @farm.user %>

  <%= link_to 'Modifier ma ferme', edit_farm_path(@farm), class: 'btn btn-primary' %>
  <%= link_to 'Voir et modifier mes produits', farm_products_path(@farm), class: 'btn btn-primary' %>
  <%= link_to 'Voir les commandes passés à ma ferme', farm_orders_path(@farm), class: 'btn btn-primary' %>

<% elsif user_signed_in?  %>
  <%= link_to 'Passer une commande', farm_products_path(@farm), class: 'btn btn-primary' %>
  <%= link_to 'Voir mes commandes ', farm_orders_path(@farm),class: 'btn btn-primary' %>

<% else %>
  <%= link_to 'Passer une commande', farm_products_path(@farm), class: 'btn btn-primary' %>
<% end %>
