<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @product_in_order.order_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_in_order.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product_in_order.quantity %>
</p>

<%= link_to 'Edit', edit_product_in_order_path(@product_in_order) %> |
<%= link_to 'Back', product_in_orders_path %>
