<div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
    <% @farms.each do |farm| %>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= farm.name %></h5>
                    <p class="card-text"><%= farm.user %></p>
                    <p class="card-text"><%= farm.description %></p>
                    <%= link_to 'En savoir plus', farm, class: 'btn btn-primary stretched-link'%>
                </div>
                <div class="card-footer text-muted text-end">
                    <%= farm.city %> <%= image_tag "pin.svg" %>
                </div>
            </div>
        </div>
    <% end %>
</div>