<div class="row">
    <% @farms.each do |farm| %>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2><%= farm.name %></h2>
                    <p><%= farm.user %></p>
                    <p>
                        <%= farm.address %>
                        <%= farm.zipcode %>
                        <%= farm.city %>
                    </p>
                    <p><%= farm.description %></p>
                    <%= link_to 'En savoir plus', farm, class: 'btn btn-primary stretched-link'%>
                </div>
            </div>
        </div>
    <% end %>
</div>