<%= simple_form_for [@farm, @order] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="form-inputs">
    <% if !order.ready %>
      <%= f.input :ready , label: "la commande est prête" , class: "" %>
    <% else %>
      <%= f.input :taken, label: "la commande à été retiré" , class: "" %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: "Valider" %>
  </div>
<% end %>
