<section class='container'>

<h1><%= @order %></h1>
<p>
  <strong>Commande pour le client:</strong>
  <%= @order.user %>

</p>

<p>
  <strong>A la ferme :</strong>
  <%= @order.farm %>
</p>

<p>
  <strong> La commande a t'elle été prepaté :</strong>
  <%if  @order.ready %>
    <p> Oui </p>
  <% else %>
    <p> Non </p>
  <% end %>
</p>

<p>
  <strong> La commande a t'elle été retiré :</strong>
  <%if  @order.taken %>
    <p> Oui </p>
  <% else %>
    <p>Non </p>
  <% end %>
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Produits</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix</th>
      <th scope="col">Total pour ce produit</th>
    </tr>
  </thead>
  <tbody>
    <% @order.product_in_orders.each do |product_in_order| %>
      <tr>
        <td><%= product_in_order.product %></td>
        <td><%= product_in_order.quantity %></td>
        <td><%= product_in_order.product.price %></td>
        <td class='Tproduct'><%= product_in_order.product.price*product_in_order.quantity %> €</td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>TOTAL : <strong id='total'></strong> € </p>
<% if current_user == @farm.user %>
  <%= link_to 'Changer le statut de la commande', edit_farm_order_path(@farm, @order), class: 'btn btn-primary m-3' %>
<% else %>
  <% if (@order.ready != true) %>
    <%= link_to 'Modifier la commande', farm_products_path(@farm), class: 'btn btn-primary m-3' %>
    <%= link_to 'Suprimer la commande', farm_order_path(@farm, @order), method: :delete, class: 'btn btn-danger m-3' %>
  <% else %>
    <% if @order.taken != true %>
      <p>La commande a déja été prepaté par le producteur, vous ne pouvez plus la modifier</p>
    <% else %>
      <p>Vous avez déja retiré votre commande </p>
    <% end %>
  <% end %>
<% end %>

</section>

<%= javascript_pack_tag 'orderTotals', 'data-turbolinks-track': 'reload' %>