<h1><%= @order %></h1>
<p>
  <strong>Commande pour le client:</strong>
  <%= @order.user %>

</p>

<p>
  <strong>A la ferme :</strong>
  <%= @order.farm %>
</p>

<p>
  <strong> La commande a t'elle été prepaté :</strong>
  <%if  @order.ready %>
    <p> Oui </p>
  <% else %>
    <p> Non </p>
  <% end %>
</p>

<p>
  <strong> La commande a t'elle été retiré :</strong>
  <%if  @order.taken %>
    <p> Oui </p>
  <% else %>
    <p>Non </p>
  <% end %>
</p>

<table class="table">
  <% @order.product_in_orders.each do |product_in_order| %>
    <tr>
      <td><%= product_in_order.product %></td>
      <td><%= product_in_order.quantity %></td>
    </tr>
  <% end %>
</table>
<% if current_user == @farm.user %>
  <%= link_to 'Changer le statut de la commande', edit_farm_order_path(@farm, @order) %>
<% else %>
  <% if (@order.ready != true) %>
    <%= link_to 'Modifier la commannde', farm_products_path(@farm) %>
  <% else %>
    <% if @order.taken != true %>
      <p>La commande a déja été prepaté par le producteur, vous ne pouvez plus la modifier</p>
    <% else %>
      <p>Vous avez déja retiré votre commande </p>
    <% end %>
  <% end %>
<% end %>

