<section>
    <div class="row">
        <div class="col"><%= image_tag "placeholder.png" %></div>

        <div class="col">
            <p>Bienvenue sur votre espace producteur</p>
            <p>Prénom Nom</p>
        </div>

        <div class="col">
            <p><b>17</b></p>
            <p>commandes aujourd'hui</p>
        </div>

        <div class="col">
            <p><b>357</b></p>
            <p>Commandes totales</p>
        </div>
        
        <div class="col">
            <p><b>53</b></p>
            <p>Clients totaux</p>
        </div>

    </div>
</section>

<section class="container">

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <%= image_tag "placeholder.png" %>
        <h5 class="card-title">Mon catalogue</h5>
        <%= link_to "Modifier et visualiser mon catalogue"%>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <%= image_tag "placeholder.png" %>
        <h5 class="card-title">Mon catalogue</h5>
        <%= link_to "Informations sur ma ferme"%>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <%= image_tag "placeholder.png" %>
        <h5 class="card-title">Mon catalogue</h5>
        <%= link_to "Mes commandes"%>
      </div>
    </div>
  </div>
</div>

</section>