<%= simple_form_for [@farm, @product] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Nom du produit' %>
    <%= f.input :description, label: 'Description du produit' %>
    <%= f.input :price, label: 'Prix' %>
<<<<<<< HEAD
    <%= f.input :product_unit, label: 'Unité du Prix (ex: kg / la barquette)' %>
    <%= f.input :quantity, label: 'Stock disponible' %>
    <%= f.input :active, label: "Produit disponible à la vente"%>
=======
    <%= f.input :product_unit, label: 'Unité du Prix (exemple : le kg/la barquette)' %>
    <%= f.input :quantity, label: 'Stock disponible' %>
    <%= f.input :active, label: "Le produit est-il actuellement disponible à la vente ?  "%>
>>>>>>> 86a0804745bf53678352cadd27ce9c850d4f5dcc
  </div>
  <div class="form-actions">
    <%= f.button :submit, value: 'Valider les changements' %>
  </div>
<% end %>
