  <%= @farm %>

  <h1>Products</h1>

  <table class="table container">
    <thead>
      <tr>
        <th>Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Product unit</th>
        <th scope="col">Quantity</th>
        <th scope="col">Active</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product, [@farm, product] %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.product_unit %></td>
          <td><%= product.quantity %></td>
          <td><%= product.active %></td>
          <td><%#= link_to 'Edit', edit_product_path(product) %></td>
          <td><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Nouveau produit', new_farm_product_path(@farm) %>
