  <%= @farm %>

<h1>Products</h1>


<%= simple_form_for [@farm, @order] do |f| %>

  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Quantité disponible</th>
        <th>Quantité commandée</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product, [@farm, product] %></td>
          <td><%= product.description %></td>
          <td>
            <%= product.price %>
            <%= product.product_unit %>
          </td>
          <td><%= product.quantity %></td>
          <td>
            <input type="number" name="order[product_in_orders][]" class="form-control" min="0" value="<%= @order.item_for(product).quantity %>">
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.button :submit, 'Enregistrer' %>
<% end %>

<% if current_user == @farm.user %>
  <%= link_to 'Nouveau produit', new_farm_product_path(@farm) %>
<% end %>
