<p id="notice"><%= notice %></p>

<p>
  <strong>Produit de la ferme :</strong>
  <%= @product.farm_id %>
</p>

<p>
  <strong>Nom du produit :</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description du produit :</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Prix :</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Unité du produit :</strong>
  <%= @product.product_unit %>
</p>

<p>
  <strong>Quantité disponible :</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Le produit est t'il disponible a la vente :</strong>
  <% if @product.active %>
    <p> Oui </p>
  <% else %>
    <p> Non </p>
  <% end %>
</p>

<% if current_user == @farm.user %>
  <%= link_to 'Edit', edit_farm_product_path(@farm, @product) %>
  <%= link_to 'Destroy', [@farm, @product], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
