<p id="notice"><%= notice %></p>

<p>
  <strong>Farm:</strong>
  <%= @product.farm_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Product unit:</strong>
  <%= @product.product_unit %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<% if current_user == @farm.user %>
  <%= link_to 'Edit', edit_farm_product_path(@farm, @product) %>
  <%= link_to 'Destroy', [@farm, @product], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
